@{
  Layout = "_Layout";
}

@model Factory.Models.Machine


<h2>Add a new machine</h2>
<hr />

@using (Html.BeginForm())
{
  @Html.Label("Machine Name")
  <br>
  @Html.TextBoxFor(model => model.MachineName)
  <p>@Html.ValidationMessageFor(model => model.MachineName, "", new { @class = "text-danger" })</p> 

  <input type="submit" value="Add new machine"/>
}