@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer


<h2>Add an Engineer to the Team</h2>
<hr />

@using (Html.BeginForm())
{
  @Html.Label("Engineer Name ")
  <br>
  @Html.TextBoxFor(model => model.EngineerName)
  <p>@Html.ValidationMessageFor(model => model.EngineerName, "", new { @class = "text-danger" })</p> 

  <input type="submit" value="Add new hire"/>
}